<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Paul Crosby</h2>
      <p>Hi, I'm Paul Crosby, but probably more commonly known as "Bing". 

        I have worked in the Financial Markets for around 20 years either as a Trader,Broker or Sales person.I feel now is the right time to do something that will make me want to get up in the morning and go to work, a thrill, a passion. Creating something!!

        I enrolled into a GA Course and now have experience in front and back end languages and technologies.This to add to knowledge of version controls and Agile methodologies.

        I love my sport with cricket, rugby and golf being my passion.With that go the camaraderie and obligatory beer! 

        I look forward to the challenge that the Tech market will bring.

      </p>
      
    </div>
  </div>
</section>