    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Paul Crosby</h2>
                <p>Hi, I'm Paul Crosby, but probably more commonly known as "Bing". I was born and raised in South Africa but have moved across to the United Kingdom just after the Springboks won the World Cup Rugby in 1995. I escaped in November of 1996 to travel for a year. WOW!!! Its been a long year!

                I have worked in the financial markets for around 20 years either as a trader , broker or sales person. I feel now is the right time to do something that will make me want to get up in the morning and go to work, a thrill, a passion. Creating something!!

                I have 2 kids who are my pride and joy. They keep me as young as possible and I am learning from them musically. Albeit it I am a massive music lover and their music doesn't seem the same.

                As you can see from the opening line, I love my sport. I would watch anything from fishing to Curling with Cricket,Rugby and Golf being my main passions..</p>
                
            </div>
        </div>
    </section>