    <!-- Contact Section -->
    <!-- <p>Some technologies I have used and been exposed to:</p>
    <br>
    <ol>
        <li>
         JavaScript</li>
            <li>Ruby on Rails</li>
            <li>Angular.js</li>
            <li>Node.js</li>
            <li>jQuery</li>
            <li>HTML</li>
            <li>Bootstrap</li>
            <li>Express.js</li>
            <li>MongoD</li>
            <li>Pair Programming</li>
            <li>Version control</li>
            <li>Agile Methodologies</li>
        </li>
      </ol> -->
      <section id="contact" class="container content-section text-center">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
          <IMG SRC="img/Bing12.png" ALT="photo" WIDTH=200 HEIGHT=200>
            <h2>Contact</h2>
            <h6>paul71crosby@gmail.com<h6>
            <p><a style="color:white;" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </p> 
            <ul class="list-inline ">
              {% for network in site.social %}
              <li>
                <a href="{{ network.url }}" target="_blank" class="btn btn-default btn-lg" style="background-color: white;margin:25px;display:inline block;"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>