<!-- Projects Section -->
<section id="download" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <!-- <div class="col-lg-8 col-lg-offset-2">
        <h2>Projects</h2>
        <p>My Projects </p>

        <a href="https://space-n-crater.herokuapp.com/" target="_blank" style="background-color: white;padding:20px;" class="btn btn-default btn-lg">Space n Crater</a>

        <a href="https://the-quote-book.herokuapp.com/" target="_blank" style="background-color: white;padding:20px" class="btn btn-default btn-lg">The Quote Book</a>

        <a href="https://geoflash.herokuapp.com/" target="_blank" style="background-color: white;padding:20px"class="btn btn-default btn-lg">Flash</a>

        <a href="https://pure-tundra-41958.herokuapp.com/#/" target="_blank" style="background-color: white;padding:20px"class="btn btn-default btn-lg">Jog On!</a>

        <a href="https://paulcrosbyblog.wordpress.com/" target="_blank" style="background-color: white;padding:20px"class="btn btn-default btn-lg">My Blog!</a>

      </div> -->

        <div class="row">
          <div class="col-xs-4">
            <div class="cuadro_intro_hover " style="background-color:black;">
              <p style="text-align:center; margin-top:20px;">
                <img src="http://i.imgur.com/N0tAkcD.jpg" class="img-responsive" alt="">
              </p>
              <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                  <h6 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">Space N Crater</h6>
                  <p>This was my 1st project. A game with Javascript and CSS</p>
                  <a class=" btn btn-default" href="https://space-n-crater.herokuapp.com/" target="_blank"><span class="glyphicon glyphicon-plus"> DEMO</span></a>

                  

                </div>
              </div>
            </div>

          </div>
          <div class="col-xs-4">
            <div class="cuadro_intro_hover " style="background-color:black;">
              <p style="text-align:center; margin-top:20px;">
                <img src="http://i.imgur.com/JeXjfFF.png" class="img-responsive" alt="">
              </p>
              <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                  <h5 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">THE QUOTE BOOK</h5>
                  <p>Project done in Rails about the murmurings in the class!</p>
                  <a class=" btn btn-default" href="https://the-quote-book.herokuapp.com/" target="_blank"><span class="glyphicon glyphicon-plus"> QUOTE</span></a>

                </div>
              </div>
            </div>

          </div>
          <div class="col-xs-4">
            <div class="cuadro_intro_hover " style="background-color:black;">
              <p style="text-align:center; margin-top:20px;">
                <img src="http://i.imgur.com/MZSkhqs.jpg" class="img-responsive" alt="">
              </p>
              <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                  <h4 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">FLASH</h4>
                  <p>Node.js and Express.js ticket transfer project</p>
                  <a class=" btn btn-default" href="https://geoflash.herokuapp.com/" target="_blank"><span class="glyphicon glyphicon-plus"> BUY/SELL</span></a>

                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="row">
          <div class="col-xs-4 col-md-offset-2">
            <div class="cuadro_intro_hover " style="background-color:black;">
              <p style="text-align:center; margin-top:20px;">
                <img src="http://i.imgur.com/9GLT6LY.jpg" class="img-responsive" alt="">
              </p>
              <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                  <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">JOG ON!</h3>
                  <p>Final GA Project with the MEAN stack. Marathon route calculator.</p>
                  <a class=" btn btn-default" href="https://pure-tundra-41958.herokuapp.com/#/" target="_blank"><span class="glyphicon glyphicon-plus"> RUN</span></a>

                </div>
              </div>
            </div>

          </div>
          <div class="col-xs-4">
            <div class="cuadro_intro_hover " style="background-color:black;">
              <p style="text-align:center; margin-top:20px;">
                <img src="http://i.imgur.com/MrDzTJn.png" class=" blogImg" alt="">
              </p>
              <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                  <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">MY BLOG</h3>
                  <p>Read about my GA experiences</p>
                  <a class=" btn btn-default" href="https://paulcrosbyblog.wordpress.com/" target="_blank"><span class="glyphicon glyphicon-plus"> BLOG</span></a>

                </div>
              </div>
            </div>

          </div>
          

        </div>
                  


    </div>
  </div>
</section>

