<!-- Projects Section -->
<section id="download" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Projects</h2>
        <p>My Projects </p>

        <a href="https://enigmatic-bastion-85887.herokuapp.com/" target="_blank" class="btn btn-default btn-lg">Space n Crater</a>
        <a href="https://intense-falls-97673.herokuapp.com/" target="_blank" class="btn btn-default btn-lg">The Quote Book</a>
        <a href="https://geoflash.herokuapp.com/" target="_blank" class="btn btn-default btn-lg">Flash</a>
        <a href="https://pure-tundra-41958.herokuapp.com/" target="_blank" class="btn btn-default btn-lg">Jog On!</a>
      </div>
    </div>
  </div>
</section>

